<!-- <p>Find me in app/views/super_humans/index.html.erb</p> -->

<h1> Supers </h1> 

<p><%= link_to 'New Super', new_super_person_path %></p> 
<!--TODO: update link_to new path -->

<% @super_person.each do |super_person| %>
  <h2><%= super_person.name %></h2>
  <%= link_to 'Show Super', super_people_path(super_person) %>
  <%= link_to 'Edit Super', super_people_path(super_person) %>
<!--TODO: update link_to edit path and show -->
<% end %>