<!-- <p>Find me in app/views/ability/index.html.erb</p> -->

<h1> Abilities </h1>
<p><%= link_to 'New Ability', new_ability_path %></p>


<% @ability.each do |ability| %>
  <h2><%= ability.name %></h2>
  <%= link_to 'Show', ability_path(ability) %>
<% end %>