<h1>Abilities#show</h1>

<% @ability.each do |ability| %>
  <h2><%= ability.name %></h2>
  <p><%= ability.super_id %></p>
  <p><%= ability.description %></p>
  <%= link_to 'Show Ability', abilities_path(ability) %>
<% end %>